@page "/"
@using MessagerieInstantaneeV4.Objects
@using MessagerieInstantaneeV4.Services
@inject MessagerieApiService MessagerieService

<PageTitle>Messagerie</PageTitle>

<div class="div-container">
    <div class="left">
        <h2>Colonne 1</h2>
        @if (_users == null || _isLoading)
        {
            <p>Chargement</p>
        }
        else
        {
            @foreach (var user in _users)
            {
                <div class="message">
                    <p>@user.Data.Nom</p>
                </div>
            }
        }
    </div>
    <div class="right">
        <h2>Colonne 2</h2>
        @if (_sortedMessages == null || _isLoading)
        {
            <p>Chargement</p>
        }
        else
        {
            <div class="messaging-app">
                <div class="messages">
                    @foreach (var message in _sortedMessages)
                    {
                        <div class="message">
                            @if (message.SourceList == ListType.SenderMessages)
                            {
                                <div class="message sent">@message.MESSAGE</div>
                            }
                            else
                            {
                                <div class="message received">@message.MESSAGE</div>
                            }
                        </div>
                    }
                </div>
                <div class="input-area">
                    <input @bind="_newMessage" type="text" placeholder="Écrivez un message...">
                    <p>@_newMessage</p>
                    <button @onclick="SendMessage">Envoyer</button>
                </div>
            </div>
        }
    </div>
</div>