.div-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* La hauteur totale du conteneur */
}

.left {
    width: 20%;
    background-color: #f1f1f1;
    padding-left: 2rem;
    border-right: 1px solid black;
    height: 100vh;
    overflow-y: auto;
}

.right {
    width: 80%;
    background-color: #f1f1f1;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    height: 100vh; /* La colonne droite prend toute la hauteur de l'écran */
}

.messaging-app {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permet à la partie messages de prendre tout l'espace restant */
    overflow: hidden;
    font-size: 1.6rem;
}

.messages {
    flex: 1; /* Occupe tout l'espace restant */
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.message {
    padding: 10px;
    border-radius: 10px;
    /*max-width: 70%;*/
}

.message.sent {
    background: #A8E6CF;
    align-self: flex-end;
}

.message.received {
    background: #FAF3E0;
    align-self: flex-start;
}

.input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    position: relative;
    z-index: 10; /* Assure que l'input-area soit au-dessus du contenu */
}

.input-area input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.input-area button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: #007bff;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.input-area button:hover {
    background: #0056b3;
}