html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fond-principal: #2C2F33;
    --fond-secondaire: #23272A;
    --texte-principal: #FFFFFF;
    --texte-secondaire: #B9BBBE;
    --accent: #B9BBBE;
    --avertissement: #ED4245;
    --separateur: #4F545C;

    --bleu-discord: #5865F2;
    --gris-sombre: #2C2F33;
}